
 	  <nav id="header-nav" class="navbar navbar-expand-lg navbar-light bg-faded" data-toggle="affix">
 	 	  <div class="container"> 
 			  <a class="navbar-brand" routerLink="/">
           <img src="assets/books-stack1.png" width="40" height="40" alt="logo">
          book<span>S</span>tore
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="collapsable-nav">
          <ul id="nav-list" class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
            
            <li class="nav-item text-center" routerLinkActive="active">
              <a class="nav-link" routerLink="/books" appHighlight> <!-- <i class="fas fa-book"> </i> -->  <img src="./assets/book.png" alt="icon" width="30" height="30"> Books  </a>
            </li>
             <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/shopping-list" appHighlight> <!-- <i class="fas fa-shopping-cart"></i> -->  <img src="./assets/cart2.png" alt="icon" width="30" height="30"> Shopping List </a>
            </li>
          </ul>
         <form class="form-inline my-2 my-lg-0" id="search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for Books" aria-label="Search" >
          <button class="form-control form-control-submit" type="submit"> Search</button>
          <span class="search-label"><i class="fa fa-search"></i></span>
        </form>
        </div>

        <a routerLink="/signin" class="btn btn-outline-purple btn-md" style="margin-right: 10px"> Log In </a>
         
         <a routerLink="/signup" class="btn btn-purple btn-md" > Sign Up</a>

       </div>
 	    </nav>


      
   