<div class="row">
		  <app-book-item class="col-lg-3 col-md-6 col-6"
		  *ngFor="let bookEl of books; let i = index"
		  [book]="bookEl"
		  [index]="i"> </app-book-item>
	
		  
 </div>



  
<!-- <div class="row section-title">
  <div class="col-12">
    <div class="row">
      <div class="col-6"> <h5> Recently Added Books </h5></div>
      <div class="col-6">   <a href="" class="float-right"> See All </a></div>
    </div>
  </div>
</div>

  <div  class="swiper-container" [swiper]="config" [(index)]="index"> 
     <div class="swiper-wrapper">
       <app-book-item class=" swiper-slide" 
		  *ngFor="let bookEl of books; let i = index"
		  [book]="bookEl"
		  [index]="i"> 
		</app-book-item>
     </div>
    <div class="swiper-pagination"></div>          
</div>


<div class="swiper-button-prev swiper-button-black" [hidden]="config.navigation === false"></div>
<div class="swiper-button-next swiper-button-black" [hidden]="config.navigation === false"></div> -->







    
     