<div class="jumbotron jumbotron-fluid">
  <div class="container">

		<div class="row jum">
		<div class="col-md-9 col-6 jum-text">
				
	 <h1 class="display-4"> Our Wardrobe of Literature </h1>
    <p class="lead"> Ordinary people have big Tvs. Extraordinary people have big libraires.</p>
			</div>
			<div class="col-md-3 col-6 pic">  <img src="assets/couple.jpg" alt="pic" class="float-right"> </div>


		</div>
  </div>
</div>

	
<div class="row book-list">
  <div class="col-md-12">
	<app-book-list></app-book-list>
</div>


